@media (prefers-color-scheme: dark) {
    :root {
        --text: #dedede;
        --accent: #1688f0;
        --light: #efefef;
        --gray: #7e8890;
        --bg-main: #000;
        --border-accent: #dcd9d9;
        --bg-user: #0a0a0f;
    }
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    font-size: medium;
    background: var(--bg-main);
    color: var(--text);
}
body.active {
    overflow: hidden;
    z-index: -1;
}
a {
    color: var(--accent);
    text-decoration: none;
}
.no-js #experience-timeline > div {
    background: var(--bg-main);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-accent);
}
.no-js #experience-timeline > div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--light);
    display: inline-block;
    margin: 0;
}
.no-js #experience-timeline > div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: var(--gray);
    margin: 0 0 15px 0;
}
.no-js #experience-timeline > div p {
    color: var(--text);
    font-size: 0.9em;
    margin: 0;
}
.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none;
}
@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 20;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
}
header ul {
    display: inline-block;
    background: var(--bg-main);
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
header ul:hover {
    filter: drop-shadow(0 0 10px var(--accent));
    transition: 0.5s ease all;
}
header li {
    display: inline-block;
}
header a {
    display: block;
    color: var(--text);
    padding: 10px;
}
header a:hover {
    color: var(--text);
    text-decoration: none;
    background: var(--accent);
    border-radius: 4px;
}
header a:focus {
    color: var(--accent);
    text-decoration: none;
}
header.active {
    display: block;
}
header.sticky {
    position: fixed;
    z-index: 999;
}
#menu.active {
    display: block;
}
#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    left: 15px;
    top: 10px;
    color: var(--light);
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: var(--bg-main);
}
#mobile-menu-close {
    display: none;
    text-align: left;
    width: 100%;
    background: var(--bg-main);
    font-size: 1.5em;
    padding-left: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: var(--accent);
}
#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase;
}
#mobile-menu-close i {
    vertical-align: middle;
}
footer {
    padding: 50px 0;
}
.copyright {
    padding-top: 20px;
}
.copyright p {
    text-align: center;
    margin: 0;
    color: var(--text);
}
.top {
    text-align: center;
}
.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--accent);
    text-align: center;
}
.top i {
    color: var(--text);
}
.social {
    text-align: center;
    margin-right: 40px;
}
.social li {
    display: inline-block;
    list-style: none;
}
.social a {
    display: block;
    font-size: 1.75em;
    color: var(--text);
    padding: 10px;
}
.social i:hover {
    color: var(--accent);
    transition: 0.3s ease all;
    font-size: 1.25em;
    transform: scale(1.25);
}
.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: 0.5s ease all;
}
.btn-rounded-white:hover {
    color: var(--accent);
    background: var(--bg-main);
    text-decoration: none;
    filter: drop-shadow(0 0 10px var(--accent));
}
.btn-rounded-blue {
    display: inline-block;
    color: var(--text);
    padding: 15px 25px;
    border: 3px solid var(--accent);
    border-radius: 30px;
    background: var(--bg-main);
    transition: 0.5s ease all;
}
.btn-rounded-blue:hover {
    color: var(--text);
    background: var(--accent);
    text-decoration: none;
    border: 3px solid var(--border-accent);
    filter: drop-shadow(0 0 10px var(--accent));
    transform: scale(1.1);
}
.shadow {
    box-shadow: 0 1px 3px var(--accent), 0 1px 2px purple;
}
.shadow-large {
    box-shadow: 0 3px 6px var(--accent), 0 3px 6px purple;
}
.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}
.heading:after {
    position: absolute;
    content: "";
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--accent);
}
.background-alt {
    background: #0a0a0a;
}
#lead {
    position: relative;
    height: auto;
    min-height: 100vmin;
}
#lead h1 {
    margin-top: 4em;
    text-align: center;
}
#lead::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    background-image: url(../images/bg.jpg);
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}
#lead-content, #lead-proj-content {
    z-index: 10;
    text-align: center;
    position: relative;
    filter: drop-shadow(0 0 10px var(--accent));
}
#lead-content {
    padding: 30vmin;
}
#lead-proj-content {
    padding: 2vmin 30vmin;
}
#lead-content h1,
#lead-content h2 {
    margin: 0;
}
#lead-content #me {
    border: 2px solid var(--accent);
    border-radius: 50%;
    filter: drop-shadow(0 0 2px var(--accent));
    height: auto;
    width: calc(30vmin + 10px);
    min-width: 220px;
    max-width: 500px;
}
#lead-content h1 {
    color: #fff;
    font-weight: 600;
    font-size: 2.5em;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}
#lead-content h2 {
    color: var(--accent);
    font-weight: 400;
    font-size: 1.5em;
    margin: 10px;
}
#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: var(--text);
}
#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--accent);
    text-align: center;
}
#lead-down i {
    padding-top: 5px;
}
#about {
    padding: 15px;
    border-bottom: 1px solid var(--border-accent);
    text-align: center;
}
#about h2 {
    color: var(--light);
}
#about p {
    padding: 10px;
    text-align: justify;
    max-width: 90rem;
    margin: 0 auto;
    color: var(--text);
}
#about p a {
    font-weight: bold;
    color: var(--accent);
    text-decoration: none;
}
#about p a:hover {
    color: #0d6ec6;
    background: #1a1a1a;
    border: 1px solid var(--accent);
    border-radius: 4px;
}
#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid var(--border-accent);
}
#experience h2 {
    color: var(--light);
}
#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}
#experience-timeline:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: var(--accent);
    z-index: 0;
}
#experience-timeline:after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    background: var(--accent);
    background: linear-gradient(to bottom, var(--accent), rgba(22, 136, 240, 0));
    top: 100%;
    left: 303px;
}
.vtimeline-content {
    margin-left: 350px;
    background: var(--bg-main);
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}
.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--light);
    display: inline-block;
    margin: 0;
}
.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--gray);
    margin: 0 0 15px 0;
}
.vtimeline-content p {
    color: var(--text);
    font-size: 0.9em;
    margin: 0;
}
.vtimeline-content:hover {
    transition: 0.5s ease all;
    box-shadow: 0 3px 6px var(--accent), 0 3px 6px purple;
    filter: drop-shadow(0 0 10px var(--accent));
}
.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.vtimeline-icon {
    position: relative;
    color: var(--text);
    width: 50px;
    height: 50px;
    background: var(--accent);
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}
.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
}
.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: var(--text);
}
#skills {
    padding: 50px 15px 20px 15px;
    text-align: center;
}
#skills h2 {
    color: var(--light);
}
#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}
#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: var(--light);
    border-radius: 10px;
    background: #0d0d0d;
    list-style: none;
    cursor: default;
    box-shadow: 0 1px 6px var(--accent), 0 1px 4px purple;
    transition: 0.3s ease all;
}
#skills li:hover {
    box-shadow: 0 3px 6px var(--accent), 0 3px 6px purple;
    font-weight: bold;
    filter: drop-shadow(0 0 10px var(--accent));
    transform: scale(1.1);
}
#skills a {
    color: var(--text);
    text-decoration: none;
    font-size: 1em;
}
#skills i {
    font-size: 1.2em;
}
@media only screen and (max-width: 1280px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 80px 20px 60px 20px;
    }
    #lead-content {
        padding: 40px;
    }
    #lead-content h1 {
        font-size: 2.5em;
    }
    #lead-content h2 {
        font-size: 1.5em;
    }
    .projects-grid {
        max-height: 400px;
    }
}
@media only screen and (max-width: 800px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 40px 20px;
    }
    header {
        position: fixed;
        display: none;
        animation: none;
        bottom: 0;
        height: 100%;
    }
    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }
    #menu {
        height: auto;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
    #menu li {
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--border-accent);
    }
    #menu li:first-child {
        border-top: 1px solid var(--border-accent);
    }
    #lead-content {
        padding: 20px 0px;
    }
    #lead-content h1 {
        font-size: 2em;
    }
    #lead-content h2 {
        font-size: 1.3em;
    }
    #lead-down {
        display: none;
    }
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px;
    }
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }
    .vtimeline-icon {
        margin-left: 0;
    }
    .vtimeline-content {
        margin-left: 70px;
    }
    .projects-grid {
        max-height: 400px;
    }
    .project-image {
        float: left;
    }
    footer {
        text-align: center;
    }
}
@media only screen and (max-width: 480px) {
    .social a {
        font-size: 1.5em;
        padding: 10px 6px;
    }
}

/* Project Styles */
h1 {
    color: var(--accent);
    margin-bottom: 4px;
}

small {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

h2 {
    width: 100%;
    text-align: center;
    color: var(--text);
    margin: 0;
}

img {
    border: 2px solid var(--accent);
    box-shadow: 0 0px 6px var(--accent), 0 0px 6px var(--accent);
    max-width: 100%;
    height: auto;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--text);
}

.github-img {
    width: 45px;
    margin-right: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-user);
    color: var(--text);
    font-size: 18px;
    padding: 2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.user-info figure {
    width: 90%;
    max-width: 200px;
}

.user-info img {
    border-radius: 100%;
}

.user-info div {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: 5%;
}

.user-info div p {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--text);
    padding-bottom: 18px;
}

.filter-repos,
input {
    background: var(--bg-user);
    width: 50%;
    border-radius: 20px;
    min-width: 300px;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--accent);
    color: var(--text);
    text-align: center;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    padding: 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 4em;
}

h3 {
    margin: 4px;
    width: 100%;
    text-align: center;
    color: var(--accent);
}

.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.repo-list li {
    width: 100%;
    min-height: 180px;
    border-radius: 10px;
    margin: 1em 0;
    border: 1px solid var(--accent);
    padding: 1em;
    text-align: center;
    background-color: var(--bg-user);
}

.repo-list li:hover {
    background-color: var(--bg-main);
    box-shadow: 0 3px 6px var(--accent), 0 3px 6px var(--accent);
}

.link-btn {
    padding: 10px 20px;
    background: var(--bg-main);
    border-radius: 30px;
    border: 2px solid var(--accent);
    color: var(--text);
}

.link-btn:hover {
    background: var(--accent);
    border: 2px solid var(--text);
    transform: scale(1.1);
}

.repo-list p {
    padding: 0em 0.5em;
    margin: 0.5em 0;
}

@media (min-width: 700px) {
    .user-info div {
        width: 45%;
        text-align: left;
    }

    .repo-list {
        justify-content: space-between;
    }

    .repo-list li {
        width: 48%;
    }
}

@media (max-width: 700px) {
    #lead-proj-content {
        padding: 2vmin 10vmin;
    }
    .user-info div p {
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    .repo-list li {
        width: 30%;
    }
}



#lead-content {
    padding: 30vmin;
}
#lead-proj-content {
    padding: 2vmin 30vmin;
}
